/* --------------------------------------------
* #4052A0   violet/plum 
* #000      black
* #FFF      white
* #0032A6   royal blue
* #AAA      light gray
* #999      light gray
* #d4d4d4   medium gray 
* #C0C0C0   medium gray
* #333      charcoal gray
* #444      dark gray
* #E1E7FF   light blue  
* #B5FFF0   cyan
* #CCFFFE   light cyan
* #DEFFC9   light green
* #CCFFE5   mint green - light
* #6EEEC4   light aqua
* 
DevNote: MARGIN---(top, right, bottom, left)
------------------------------------------------*/
/* Reset Everything

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin:0; padding:0; }
table { border-collapse:collapse; border-spacing:0; }
a img,img { border:0; }
address,caption,cite,code,em,strong,var { font-style:normal; font-weight:normal; }
caption,th { text-align:left; }
h1,h2,h3,h4,h5,h6 { font-size:100%; font-weight:bold; }
abbr,acronym { border:0; }
------------------------------------------------*/
.header {
    height: 70px;
    padding: 10px;
}
html{
    color: #333;
    background-color:  #CCFFFE; /* around body */
}
body {
    font: 16px/15px Calibri, Arial, sans-serif;
    background-color: #f5fffa;
    margin: 40px auto 30px auto;
    width: 980px;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    -khtml-border-radius: 60px;
    border-radius: 60px;
}
ie-body {
    font: 16px/15px Calibri, Arial, sans-serif;
    position: absolute;
    left: 40px;
    bottom: 30px;
    width: 980px;
}
b{font-size: 110%;}
h1 {font-size: 1.2em; margin: .6em 0; color: blue;}
em{color: red;}
button {border:0; margin:0; padding:0;}
label{
    font: 18px/25px Calibri, Arial, sans-serif;
    display: block;
    color: #0000A0;   /* dark blue */
}
input[type=text], input[type=password], textarea {
    font: 16px/25px Calibri, Arial, sans-serif;
    display: block;
    width: 90%;
    padding: .4em;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
 }
input[type=radio], input[type=checkbox] {
    font: 16px/25px Calibri, Arial, sans-serif;
    display: inline;
    width: 50%;
    padding: 2em;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
 }
.floatleft {
    position: relative;
    left: 0;
    top: 0;
    float: left;
}
.ui-selectable select {
   height: 35px;
   width: 400px;
   margin: 5px 5px 5px 5px;
}
fieldset { padding:0;
           border:0;
           margin-top: 3px;
           width: 100%;
}
.ui-dialog .ui-state-error { padding: .1em; }
.validateTips { border: 1px solid transparent; padding: 0.3em; }
.innertube{
   margin: 10px; /*Margins for inner DIV inside each column (to provide padding)*/
   margin-top: 0;
}
.editthis {
    margin: 1px 1px 1px 1px;
    text-align: center;
}
.grp-dropdown, .itm-dropdown, .mov-dropdown {
    margin: 1px 1px 1px 1px;
    width: 80%;
}
#showpicks {
    font: 12px/10px Calibri, Arial, sans-serif;
    float: none;
    vertical-align: middle;
}
#gridcolumn{
    float: left;
    background: #fffff0;
}
#gridtable {
  width: 100%;
  display:  inline-block;
  white-space: nowrap;
}
#gridtable th td {
  text-align: center;
  padding-left: 1em;
  background: #cac9c9;
  border-bottom: 1px solid white;
  border-right: 1px solid #aaaaaa;
}
#gridtable tr:odd {
  background: '#b0ffd8';
}
#imgtbl th td {
  text-align: left;
  padding-left: 1em;
  background: #00ffff;
  border-bottom: 1px solid #0000ff;
  border-right: 1px solid #0000ff;
}
#itmform {
   padding: 15px 15px 15px 15px;
   border:0;
   margin-top: 1px;
   margin: 0px 20px 20px 20px;
   -moz-box-shadow: inset 0px 0px 10px #888;
   -webkit-box-shadow: inset 2px 2px 10px #888;
   box-shadow: inset 2px 2px 10px #888;
}
#fndform {
   padding: 20px;
   border:0;
   margin-top: 1px;
   margin: 10px 20px 20px 30px;
   -moz-box-shadow: inset 0px 0px 10px #888;
   -webkit-box-shadow: inset 2px 2px 10px #888;
   box-shadow: inset 2px 2px 10px #888;
}
#logo {
   float: left;
   margin-left: 30px;
   text-align: left;
   width: 400px;
   background-color: transparent;
}
#subtitle h1 {
   text-align: center;
   vertical-align: middle;
   color: #989898;
   background-color: #fffff0; 
}
#personal h1 {
   margin-left: 50%;
   margin-right: 10%;
   text-align: right;
   vertical-align: middle;
   color: #989898; /*grey*/
}
#wmmenu li ul{
    -moz-box-shadow: inset -5px -5px 5px #888;
    -webkit-box-shadow: inset -5px -5px 5px #888;
    box-shadow: inset -5px -5px 5px #888;
    /*box-shadow: 10px 10px 5px #888;*/
}
#contentwrapper{
   padding: 10px;
   width: 98%;
   height: 80%;
}
#contentwrapper .column {
    position: relative; 
    /*border: 1px solid #4052A0; for testing layout*/
}
#leftbtncol{  
    float: left;
    width: 45%; 
    background: #fffff0;
}
#rightgrdcol{
    float: left;
    width: 50%;
    background: #fffff0;
   /* margin-left: 430px; /*Set left margin to (leftColumnWidth + RightColumnWidth)*/
}
#leftcolumn{
    float: left;
    width: 55%; /*Width of left column in pixels*/
    background: #fffff0;
}
#midcolumn{
    float: left;
    width: 43%;
    background: #fffff0;
   /* margin-left: 430px; /*Set left margin to (leftColumnWidth + RightColumnWidth)*/
}
#rightcolumn{
    float: right;
    width: 20%; /*Width of right column in pixels*/
    background: #fffff0;
}
#footer{
    clear: both;
    width: 100%;
    padding: 4px;
    text-align: center;
    font-size: .75em;
    font-weight: lighter;
    height: 2em;
    color: #3cb371;
}
#about, #home {
   margin: 5% 0 86% 10%;
   text-align: left;
   width: 750px;
   background-color: transparent;
}
#gridview {
   position: inherit;
   text-align: left;
   background-color: transparent;
}

/*For flexible footer-The negative value for the margin in .wrapper is the same number
as the height of .footer and .push. The negative margin should always equal to the full
height of the footer (including any padding or borders you may add).*/
#ajaxLoadAni {
    /* we hide it because we only need to display it when ajax call is made */
    display: none;
    font-weight: bold;
    position: fixed;
    top: 40%;
    left: 40%;
    padding: 8px;
    width: 106px;
    z-index: 9999;
}
#ajaxLoadAni span {
    float: right;
    margin: 2px 0 0 0;
}
/* == Pagination === */
ul{border:0; margin:0; padding:0;}

div.pagination-digg li{
	border:0; margin:0; padding:0;
	font-size:11px;
	list-style:none;
	margin-right:2px;
}
div.pagination-digg a{
	border:solid 1px #2191c0;
	margin-right:2px;
}
div.pagination-digg .previous-off, div.pagination-digg .next-off {
	border:solid 1px #2191c0;
	color:#222222;
	display:block;
	float:left;
	font-weight:bold;
	margin-right:2px;
	padding:3px 4px;
}
div.pagination-digg .next a, div.pagination-digg .previous a {
	font-weight:bold;
}
div.pagination-digg .active{
	background:#2191c0;
	color:#FFFFFF;
	font-weight:bold;
	display:block;
	float:left;
	padding:4px 6px;
}
div.pagination-digg a:link, div.pagination-digg a:visited {
	color:#222222;
	display:block;
	float:left;
	padding:3px 6px;
	text-decoration:none;
}
div.pagination-digg a:hover{
	border:solid 1px #222222
}

